<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebProject</display-name>
  <servlet>
  	<servlet-name>servlet1</servlet-name>
  	<servlet-class>mesCommandes.AfficherLesDisques</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet1</servlet-name>
  	<url-pattern>/achat</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>servlet2</servlet-name>
  	<servlet-class>mesCommandes.InscriptionClient</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet2</servlet-name>
  	<url-pattern>/sinscrire</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>servlet3</servlet-name>
  	<servlet-class>mesCommandes.CommanderUnDisque</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet3</servlet-name>
  	<url-pattern>/commande</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>servlet4</servlet-name>
  	<servlet-class>mesCommandes.EnregistrerCommande.</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet4</servlet-name>
  	<url-pattern>/enregistre</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>servlet5</servlet-name>
  	<servlet-class>mesCommandes.ViderPanier</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servlet5</servlet-name>
  	<url-pattern>/vider</url-pattern>
  </servlet-mapping>
  <filter>     
   <filter-name>portier</filter-name>      
   <filter-class>mesCommandes.FiltreAutorisation</filter-class> 
  </filter>
  <filter-mapping>
        <filter-name>portier</filter-name>
        <servlet-name>/acheter</servlet-name> 
  </filter-mapping>
  <filter-mapping>
        <filter-name>portier</filter-name>          
        <servlet-name>/commander</servlet-name>
 </filter-mapping>
</web-app>